[Desktop Entry]
Version=1.0
Name=System Information Viewer
Comment=View System Information
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Keywords=Viewer;System;Information;
Exec=sysInfoViewer
Icon=gtk-about
Terminal=false
Type=Application
